/* app css stylesheet */

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 0;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li {
    padding: 20px 15px 15px;
    border-left: 1px solid #eee;
}

.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
}

.checkboxEval{
    text-align: center
}

#google-drive-buttons {
    padding-top: 3px;
}

.openFile, .deleteFile {
    cursor:pointer;
}